.profil-card {
background-color: hsla(0, 0%, 100%, .7);
  border-radius: 30px;
  box-shadow: hsla(0, 0%, 0%, .8) 10px 10px 80px;
  width: 480px;
  max-width: calc(100vw - 10px);
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image:      url('https://i.imgur.com/bBKKHsX.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}
.head, .links {
  text-align: center;
}
.head, .content {
  width: 90%;
  margin: 0 auto;
}
img {
  width: 110px;
  height: 140px;
  border-radius: 30%;
  padding: 1px;
  background-color: #666;
  transition: all 0.5s ease-in-out;
  filter: grayscale(30%);
}
h1{
font-size:25px;
}
.profile-image {
  margin-top: -60px;
}
ul {
  list-style-type: none;
}

li {
  display: inline;
}
.head, .about {
  margin-bottom: 10%;
}

.content {
  padding: 5% 10%;
  border-top: 1px solid hsla(0, 0%, 30%, .8);

}
img:hover {
  transform: scale(1.1);
  filter: grayscale(20%);
}
.fa:hover{
  transform: scale(1.4);
}